USER_NAME=""
USER_PASSWORD=""
HEADLESS_MODE=false
BROWSER_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36"
DEFAULT_TIMEOUT=60000
SCRAP_MODE="SUBMITTED_TICKET" # SUBMITTED_TICKET | PUBLIC_TICKET
TIME_FILTER="" # ONLY FOR SUBMITTED_TICKET - LAST_YEAR | LAST_SIX_MONTHS | LAST_THREE_MONTHS | LAST_MONTH | LAST_TWO_WEEKS | LAST_WEEK
OKF_PATH="C:\\zWork\\OT Knowledge Scrapper\\Public"

USER_DATA_DIR="./chrome-profile/chrome-profile3"
EXECUTEABLE_PATH="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"